In [1]:
import pandas as pd

In [2]:
df = pd.read_csv('covid data.csv')
df

,INTUBED,PNEUMONIA,AGE,DIABETES,ASTHMA,CARDIOVASCULAR,OBESITY,TOBACCO,ICU,STATUS
0,97,1,72,2,2,2,1,2,97,Died
1,1,2,55,1,2,2,2,2,2,Died
2,97,2,68,1,2,2,2,2,97,Died
3,2,2,24,2,2,2,2,2,2,Cured
4,2,2,30,2,2,2,2,2,2,Cured
...,...,...,...,...,...,...,...,...,...,...
523506,97,2,40,2,2,2,2,2,97,Cured
523507,2,2,51,2,2,2,2,2,2,Cured
523508,97,2,55,2,2,2,2,2,97,Cured
523509,97,2,28,2,2,2,2,2,97,Cured
523510,97,2,52,2,2,2,2,2,97,Cured

In [3]:
#Removing unknown values
for x in df.columns:
    df = df[df[x]!=97]
    df = df[df[x]!=98]
    df= df[df[x] != 99]
df

,INTUBED,PNEUMONIA,AGE,DIABETES,ASTHMA,CARDIOVASCULAR,OBESITY,TOBACCO,ICU,STATUS
1,1,2,55,1,2,2,2,2,2,Died
3,2,2,24,2,2,2,2,2,2,Cured
4,2,2,30,2,2,2,2,2,2,Cured
8,2,1,59,1,2,2,2,1,1,Cured
16,2,1,45,2,2,2,2,2,2,Cured
...,...,...,...,...,...,...,...,...,...,...
523481,2,1,26,2,2,2,2,2,2,Cured
523484,2,2,64,1,2,2,2,2,2,Cured
523486,2,1,50,1,2,2,1,2,2,Cured
523495,2,2,65,1,2,2,2,2,2,Cured
523507,2,2,51,2,2,2,2,2,2,Cured

In [4]:
df['STATUS'] = df['STATUS'].apply(lambda x : x.replace('Cured', 'likely to cure').replace('Died','likely to die'))
df

,INTUBED,PNEUMONIA,AGE,DIABETES,ASTHMA,CARDIOVASCULAR,OBESITY,TOBACCO,ICU,STATUS
1,1,2,55,1,2,2,2,2,2,likely to die
3,2,2,24,2,2,2,2,2,2,likely to cure
4,2,2,30,2,2,2,2,2,2,likely to cure
8,2,1,59,1,2,2,2,1,1,likely to cure
16,2,1,45,2,2,2,2,2,2,likely to cure
...,...,...,...,...,...,...,...,...,...,...
523481,2,1,26,2,2,2,2,2,2,likely to cure
523484,2,2,64,1,2,2,2,2,2,likely to cure
523486,2,1,50,1,2,2,1,2,2,likely to cure
523495,2,2,65,1,2,2,2,2,2,likely to cure
523507,2,2,51,2,2,2,2,2,2,likely to cure

In [5]:
from sklearn import tree
model = tree.DecisionTreeClassifier()

In [6]:
x = df[['INTUBED', 'PNEUMONIA', 'AGE', 'DIABETES', 'ASTHMA', 'CARDIOVASCULAR',
       'OBESITY', 'TOBACCO', 'ICU']]
y = df.STATUS

In [7]:
from sklearn.model_selection import train_test_split as ttt
X_train,X_test,y_train,y_test = ttt(x,y ,test_size = 0.1,  random_state = 40)

In [8]:
model.fit(X_train,y_train )

DecisionTreeClassifier()

In [9]:
model.score(X_test,y_test)

0.7304970811958252

In [10]:
model.predict([[2,2,30,2,2,2,2,2,2]])

/home/cipher/.local/lib/python3.10/site-packages/sklearn/base.py:465: UserWarning: X does not have valid feature names, but DecisionTreeClassifier was fitted with feature names
  warnings.warn(

array(['likely to cure'], dtype=object)

In [11]:
model.predict([[1,1,100,1,1,1,1,1,1]])

/home/cipher/.local/lib/python3.10/site-packages/sklearn/base.py:465: UserWarning: X does not have valid feature names, but DecisionTreeClassifier was fitted with feature names
  warnings.warn(

array(['likely to cure'], dtype=object)

In [12]:
model.score(X_train,y_train)

0.7526732712190903