In [1]:
import pandas as pd

In [9]:
df = pd.read_csv('Rooms.csv')

In [10]:
df.head()

    Location  Size    Rent
0     Kikoni  4500  700000
1  Wandegeya  4300  800000
2     Kikoni  2000  500000
3  Wandegeya  2500  700000
4     Kasubi  6700  650000

In [20]:
dummies = pd.get_dummies(df.Location,dtype = int)

In [21]:
dummies

   Kasubi  Kikoni  Nankulabye  Wandegeya
0       0       1           0          0
1       0       0           0          1
2       0       1           0          0
3       0       0           0          1
4       1       0           0          0
5       0       0           1          0
6       0       1           0          0
7       0       0           1          0

In [28]:
df_merged = pd.concat([df,dummies],axis ='columns')

In [29]:
df_merged

     Location  Size     Rent  Kasubi  Kikoni  Nankulabye  Wandegeya
0      Kikoni  4500   700000       0       1           0          0
1   Wandegeya  4300   800000       0       0           0          1
2      Kikoni  2000   500000       0       1           0          0
3   Wandegeya  2500   700000       0       0           0          1
4      Kasubi  6700   650000       1       0           0          0
5  Nankulabye  5000  1000000       0       0           1          0
6      Kikoni  6000   900000       0       1           0          0
7  Nankulabye  6000  1200000       0       0           1          0

In [42]:
#you always have to drop one dummy variable to prevent dummy trap
final = df_merged.drop(['Location','Kasubi'], axis = 1)
final

   Size     Rent  Kikoni  Nankulabye  Wandegeya
0  4500   700000       1           0          0
1  4300   800000       0           0          1
2  2000   500000       1           0          0
3  2500   700000       0           0          1
4  6700   650000       0           0          0
5  5000  1000000       0           1          0
6  6000   900000       1           0          0
7  6000  1200000       0           1          0

In [43]:
from sklearn import linear_model

In [44]:
reg = linear_model.LinearRegression()

In [45]:
final.columns

Index(['Size', 'Rent', 'Kikoni', 'Nankulabye', 'Wandegeya'], dtype='object')

In [58]:
model = reg.fit(final[['Size', 'Kikoni', 'Nankulabye', 'Wandegeya']],final.Rent)
model

LinearRegression()

In [59]:
#Room in Kikoni size 4500 sqr feet
model.predict([[4500,1,0,0]])

/home/cipher/.local/lib/python3.10/site-packages/sklearn/base.py:465: UserWarning: X does not have valid feature names, but LinearRegression was fitted with feature names
  warnings.warn(

array([732080.36292936])

In [60]:
#Room in Kasubi size 4500 sqr feet
model.predict([[6500,0,0,0]])

/home/cipher/.local/lib/python3.10/site-packages/sklearn/base.py:465: UserWarning: X does not have valid feature names, but LinearRegression was fitted with feature names
  warnings.warn(

array([630751.78224239])

In [63]:
model.score(final[['Size', 'Kikoni', 'Nankulabye', 'Wandegeya']],final.Rent)

0.9715906568772806

#97 % accurate

In [64]:
#You can do the above still using onehot encoder