In [1]:
#CALLED NAIVE BECAUSE WE ASSUME INDEPENDENCE AMONG FEATURES OF THE DATASET
#Good for grouping and categorising e.g spam detection
import pandas as pd

In [10]:
df = pd.read_csv('covid data.csv')

In [11]:
df.STATUS = df.STATUS.apply(lambda x : x.replace('Died','0').replace('Cured','1'))
df

,INTUBED,PNEUMONIA,AGE,DIABETES,ASTHMA,CARDIOVASCULAR,OBESITY,TOBACCO,ICU,STATUS
0,97,1,72,2,2,2,1,2,97,0
1,1,2,55,1,2,2,2,2,2,0
2,97,2,68,1,2,2,2,2,97,0
3,2,2,24,2,2,2,2,2,2,1
4,2,2,30,2,2,2,2,2,2,1
...,...,...,...,...,...,...,...,...,...,...
523506,97,2,40,2,2,2,2,2,97,1
523507,2,2,51,2,2,2,2,2,2,1
523508,97,2,55,2,2,2,2,2,97,1
523509,97,2,28,2,2,2,2,2,97,1
523510,97,2,52,2,2,2,2,2,97,1

In [12]:
#Removing unknown values
for x in df.columns:
    df = df[df[x]!=97]
    df = df[df[x]!=98]
    df= df[df[x] != 99]
df

,INTUBED,PNEUMONIA,AGE,DIABETES,ASTHMA,CARDIOVASCULAR,OBESITY,TOBACCO,ICU,STATUS
1,1,2,55,1,2,2,2,2,2,0
3,2,2,24,2,2,2,2,2,2,1
4,2,2,30,2,2,2,2,2,2,1
8,2,1,59,1,2,2,2,1,1,1
16,2,1,45,2,2,2,2,2,2,1
...,...,...,...,...,...,...,...,...,...,...
523481,2,1,26,2,2,2,2,2,2,1
523484,2,2,64,1,2,2,2,2,2,1
523486,2,1,50,1,2,2,1,2,2,1
523495,2,2,65,1,2,2,2,2,2,1
523507,2,2,51,2,2,2,2,2,2,1

In [25]:
x = df[['INTUBED', 'PNEUMONIA', 'AGE', 'DIABETES', 'ASTHMA', 'CARDIOVASCULAR',
       'OBESITY', 'TOBACCO', 'ICU']]
y = df.STATUS

In [61]:
from sklearn.model_selection import train_test_split as ttt
X_train,X_test,y_train,y_test = ttt(x,y ,test_size = 0.1)

In [62]:
#There are many bayes model classes but gaussian is best for normal distribution datasets, Bernouli for binary and multinomial for descrete 
#data such as rating of a movie from5 to five
from sklearn.naive_bayes import GaussianNB
model = GaussianNB()

In [63]:
model.fit(X_train,y_train)

GaussianNB()

In [64]:
model.score(X_test,y_test)

0.7071466477976296

In [ ]:
#71% accurate

SPAM DETECTION USING MULTINOMIAL BAYES 
We shall use a piprlinr to avoid reputation of transformation proces at fitting and testing or predicting

In [68]:
df2 = pd.read_csv('spam.csv')
df2

     Category                                            Message
0         ham  Go until jurong point, crazy.. Available only ...
1         ham                      Ok lar... Joking wif u oni...
2        spam  Free entry in 2 a wkly comp to win FA Cup fina...
3         ham  U dun say so early hor... U c already then say...
4         ham  Nah I don't think he goes to usf, he lives aro...
...       ...                                                ...
5567     spam  This is the 2nd time we have tried 2 contact u...
5568      ham               Will ü b going to esplanade fr home?
5569      ham  Pity, * was in mood for that. So...any other s...
5570      ham  The guy did some bitching but I acted like i'd...
5571      ham                         Rofl. Its true to its name

[5572 rows x 2 columns]

In [70]:
df2.describe()

       Category                 Message
count      5572                    5572
unique        2                    5157
top         ham  Sorry, I'll call later
freq       4825                      30

In [73]:
df2['spam'] = df2.Category.apply(lambda x : 1 if x == 'spam' else 0 )

In [74]:
df2

     Category                                            Message  spam
0         ham  Go until jurong point, crazy.. Available only ...     0
1         ham                      Ok lar... Joking wif u oni...     0
2        spam  Free entry in 2 a wkly comp to win FA Cup fina...     1
3         ham  U dun say so early hor... U c already then say...     0
4         ham  Nah I don't think he goes to usf, he lives aro...     0
...       ...                                                ...   ...
5567     spam  This is the 2nd time we have tried 2 contact u...     1
5568      ham               Will ü b going to esplanade fr home?     0
5569      ham  Pity, * was in mood for that. So...any other s...     0
5570      ham  The guy did some bitching but I acted like i'd...     0
5571      ham                         Rofl. Its true to its name     0

[5572 rows x 3 columns]

In [82]:
from sklearn.model_selection import train_test_split as ttt
from sklearn.naive_bayes import MultinomialNB
from sklearn.feature_extraction.text import CountVectorizer

In [83]:
X_train,X_test,y_train,y_test = ttt(df2.Message,df2.spam, test_size = 0.2 , random_state = 42)

In [84]:
#USing a pipeline
from sklearn.pipeline import Pipeline
pln = Pipeline([
    ('vectorizer',CountVectorizer()),
    ('nb',MultinomialNB())

])

In [85]:
pln.fit(X_train,y_train)

Pipeline(steps=[('vectorizer', CountVectorizer()), ('nb', MultinomialNB())])

In [86]:
pln.score(X_test,y_test)

0.9919282511210762

%99% accurate wuhuuuu!!

In [102]:
received = (
    [
        'Helo Mr. Petersone was inquiring about pending tuition payments',
        'Helo you have won a brand new Iphone 15, click here to claim your prize'
    ])

In [103]:
pln.predict(received)

array([0, 1])